/* Parts Display Styles */

/* Glyphicon styles */

.glyphicon-picture {
    font-size: 5em;
    padding-left: .15em;
}

/* Error message styles */

.alert {
    padding: 6px !important;
}

.text-danger {
    padding: 6px !important;
}

.error-msg:hover {
    background-color: rgba(207,55,33,.25);
}

.highlight-tip {
    font-size: 1.2em;
}

/* Collapse/Expand errors section style */

.collapse-err {
    margin-bottom: 1.35em;
}

/* Media Queries */

@media (max-width: 768px) {
    .glyphicon-picture {
	padding-left: .13em;
	margin-bottom: .3em;
    }
    .control-label {
	padding-top: 7px !important;
    }
    .ms-label {
	padding-left: 0;
    }
    .ms-input {
	margin-left: 3px;
    }
    .panel-del-btn {
	margin-top: 1em;
    }
    .btn {
	padding-top: .75em !important;
	padding-bottom: .75em !important;
    }
}
