/* Parts Display Styles */

/* Glyphicon styles */

.glyphicon-picture {
    font-size: 5em;
    padding-left: .15em;
}

.glyphicon-remove-circle {
    margin-top: 5px;
}

.panel-remove-btn {
    padding-left: 0 !important;
}

/* Error message styles */

.alert {
    padding: 6px !important;
}

.text-danger {
    padding: 6px !important;
}

.error-msg:hover {
    background-color: rgba(207,55,33,.25);
}

.highlight-tip {
    font-size: 1.2em;
    margin-left: .5em;
    margin-bottom: .5em;
}

/* Collapse/Expand errors section style */

.collapse-err {
    margin-bottom: 1.35em;
}

.sp-input {
    padding-bottom: 15px;
}

@media (max-width: 768px) {
    .glyphicon-picture {
	padding-left: .13em;
	margin-bottom: .3em;
    }
    .panel-remove-btn {
	padding-left: 15px !important;
	margin-top: 1em;
    }
    .control-label {
	padding-top: 7px !important;
    }
    .height {
	margin-bottom: 15px !important;
    }
    .btn {
	padding-top: .75em !important;
	padding-bottom: .75em !important;
    }
}
