/* Base */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 5em;
  height: 100%;
  font-family: sans-serif;
}

/* Navbar Styles */

.navbar-default .navbar-brand {
  text-transform: uppercase;
  font-size: 111.43%;
  padding-left: 1.5em;
  padding-right: 1em;
}

.navbar {
  margin-bottom: 0 !important;
  border-radius: 0;
}

/* Tab Styles */

.tab {
  margin-top: 1em;
  margin-bottom: .75em;
  font-size: 2em;
  padding-left: .75em;
  color: #fff;
  background-color: #BEB2A7;
  padding-top: .25em;
  border-bottom: 0;
  border-top-left-radius: .25em;
  border-top-right-radius: .25em;
}

.tab-ms {
    background-color: #57ccae;
}

.tab-ud {
    background-color: #e4ad6f;
}

.submit-btn {
    padding-top: .75em !important;
    padding-bottom: .75em !important;
    background-color: #31b873;
    color: #fff;
    font-weight: 500;
}

.submit-btn:hover {
    background-color: #45cd87;
    color: #fff;
}

/* Footer Nav Styles */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5em;
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-text {
  color: #31a9b8;
  vertical-align: center;
  margin: 0 0 1em 0;
  padding: 0;
}

.footer-col {
  padding-bottom: .5em;
}

/* Custom Media Queries */

@media (min-width: 768px) and (max-width: 1108px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar-header .collapse, .navbar-toggle {
    display:block !important;
  }
  .navbar-header {
    float:none;
  }
}

@media (max-width: 402px) {
  .navbar-default .navbar-brand {
    font-size: 95%;
    padding-left: 1em;
  }
}

@media (max-width: 331px) {
  .navbar-default .navbar-brand {
    font-size: 80%;
    padding-right: .25em;
  }
}

@media (max-width: 430px) {
  .home-h1 {
    font-size: 260%;
    padding: 1em 1.2em;
  }
}
